body {
  font-family: Helvetica;
}

ul {
  font-family: monospace;
}

li {
  list-style: circle;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

.list {
  list-style: square;
}
